<div class="container">
  <section class="sidebar">
    <h1>Hearthstone Replay Finder</h1>
  </section>

  <div style="display: none">
    <svg id="hexagon" width="22" viewBox="0 0 175 200">
      <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0"/>
    </svg>
  </div>

  <script id="archetypes-map" type="text/javascript">
    window.archetypeStats = <%=  @archetype_stats.to_json.html_safe %>;
  </script>
</div>
