<div class="container">
  <h1>Hearthstone Replay Finder</h1>
  <h2>
    Find replays of games by legend-rank
    players. Choose a class below to view
    the top archetypes and filter replays.
  </h2>
</div>

<div style="display: none">
  <svg id="hexagon" width="22" viewBox="0 0 175 200">
    <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0"/>
  </svg>

  <svg id="crown" width="22" viewBox="0 0 128 128">
    <path d="m 64.000012,31.484944 28.902346,36.127871 28.902242,-36.127871 -7.22553,65.030147 -101.158086,0 L 6.1954237,31.484944 35.0977,67.612815 64.000012,31.484944 z"/>
  </svg>
</div>

<script id="archetypes-map" type="text/javascript">
  window.archetypeStats = <%=  @archetype_stats.to_json.html_safe %>;
</script>
