/*
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.container {
  width: 600px;
  margin: 50px auto;
}

.stats {
  margin: 20px auto;
}

.replays {
  margin-bottom: 50px;
}

.replay-info {
  margin: 10px 0;
  font-size: 14px;
}

.replay-link {
  display: block;
}
