body
  font-family "Helvetica Neue", Arial, sans-serif

h1
  font-size 18px
  font-weight bold
  margin-bottom 30px

.container
  width 600px
  margin-left 320px
  margin-top 20px

.sidebar
  position fixed
  left 50px
  top 20px

  .filters
    .filter
      display flex
      margin 5px 0

      .label
        width 100px

  .stats
    margin-top 40px

// Replays section

.replays
  margin-bottom 50px

.replay-info
  display flex
  font-size 14px

  .replay-found-at
    padding 8px 0 8px 15px
    width 150px

.replay-link
  align-items center
  color #111
  display flex
  padding 8px 0
  text-decoration none
  width 450px

  &:hover
    background #fafafa
    opacity 0.7

  &:visited
    color #999
    opacity 0.7

  .player
    width 150px

  .rank
    position relative
    text-align center
    width 50px

    .legend-hexagon
      fill #fff100
      opacity 0.7
      position absolute
      width 24px
      height 24px
      left 50%
      top 50%
      margin-top -12px
      margin-left -12px
      z-index -1

      path
        stroke #cecece
        stroke-width 2px

  .vs
    text-align center
    width 50px

  .player1
    text-align right

  .player2
    text-align left
