html
  box-sizing border-box

*, *:before, *:after
  box-sizing: inherit

body
  font-family "Helvetica Neue", Arial, sans-serif

h1
  font-size 18px
  font-weight bold
  margin-bottom 30px

.container
  width 600px
  margin-left 320px
  margin-top 20px

.sidebar
  position fixed
  left 50px
  top 20px
