<!DOCTYPE html>
<html>
  <head>
    <title>Hearthstone Replay Finder</title>
    <meta name="description"
          content="Hearthstone replays and stats by legend-rank players"/>
    <meta name="viewport" content="width=device-width"/>

    <%= stylesheet_link_tag('application', media: 'all')
          .gsub(/\/assets/, 'assets').html_safe %>
    <%= javascript_pack_tag('application')
          .gsub(/\/packs/, 'packs').html_safe %>
    <%= stylesheet_pack_tag('application')
          .gsub(/\/packs/, 'packs').html_safe %>

    <% if Rails.env.development? %>
      <link href="/assets/fonts.css" rel="stylesheet">
    <% else %>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"
            rel="stylesheet">
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
